# Node
node_modules/
npm-debug.log*

# Segredos e ambiente
.env
.env.*
!.env.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log


# Chaves e credenciais
*.pem
*.key

# SO / editor
.DS_Store
*.log
